.snowflake {
	--size: 1vw;
	position: absolute;
	top: -5vh;
	width: var(--size);
	height: var(--size);
	background-color: #fff;
	border-radius: 50%;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}

	100% {
		transform: translate3d(var(--left-end), 110vh, 0);
	}
}

@for $i from 1 through 50 {
	.snowflake:nth-child(#{$i}) {
		--size: #{random(5) * 0.2}vw;
		--left-ini: #{random(20) - 10}vw;
		--left-end: #{random(20) - 10}vw;
		left: #{random(100)}vw;
		animation: snowfall #{5 + random(10)}s linear infinite;
		animation-delay: -#{random(10)}s;
	}
}

.snowflake:nth-child(6n) {
	filter: blur(1px);
}
